@media screen and (min-width:0px) and (max-width:600px){
.white{
    height: 10%;
    
}
.side-icons{
    display: none;
}
.img{
    display: none;
}
.fa-solid{
    top: -15px;
   position: relative;
}
}
/* sm */
@media screen and (min-width:601px) and (max-width:768px){
    .white{
        height: 10%;
        
    }
    .side-icons{
        display: none;
    }
    .img{
        display: none;
    }
    .fa-solid{
        top: -15px;
       position: relative;
    }
}