@media screen and (min-width:0px) and (max-width:600px){
.white{
    height: fit-content;
    
}
.side-icons{
    display: none;
}
.img{
    display: none;
}

}
/* sm */
@media screen and (min-width:601px) and (max-width:768px){
    .white{
        height: fit-content;
        
    }
    .side-icons{
        display: none;
    }
    .img{
        display: none;
    }
    
}